/* === Blog post header styles === */

h1,
h2 {
  text-align: center;
}

h1 {
  text-decoration: underline;
}


/* === Blockquote styles === */

blockquote {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 3.75rem 1.5rem;
}

cite {
  display: block;
  font-size: 1rem;
  margin: 0.75rem 2.5rem;
  text-align: right;
}


/* === Layout styles === */

.post-text p {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 3.75rem;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.blog-post {
  background-color: #121636c5;
  box-shadow: 0 0.1875rem 0.25rem #43A1CC;
  padding: 3.75rem;
  border-radius: 0.625rem;
  text-align: left;
  max-width: 50rem;
  margin: 0 auto;
}


/* === Author grid === */

.author-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1.75rem;
  padding: 1.25rem;
}

.name,
.school,
.company {
  margin-bottom: 2.5rem;
}

.avatar {
  margin: 2.5rem auto;
}


/* === Responsiveness === */

@media (max-width: 768px) {
  .blog-post {
    padding: 2rem;
  }

  .post-text p {
    font-size: 1.25rem;
    margin: 2rem;
  }

  blockquote {
    font-size: 1.25rem;
  }

  cite {
    font-size: 0.875rem;
  }

  .author-grid {
    grid-template-columns: 1fr;
  }
}