/* === Home Header Styles === */

header,
main,
footer {
    padding: 1.25rem;
    text-align: center;
}


/* === Intro section ===*/

h1 {
    font-family: "Jura", sans-serif;
}

.intro {
    margin: 1.25rem auto;
}


/* === Blog grid section === */

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 1.25rem;
    padding: 1.25rem;
}

button {
    font-family: "Jura", sans-serif;
    font-size: 1.25rem;
    padding: 0.5rem 1.25rem;
    margin: 1rem;
    color: #f49836dc;
    background-color: #0a0728;
    box-shadow: 0 0.125rem 0.25rem #f49836dc;
}



/* === Responsiveness ===*/

@media (max-width: 768px) {
    .blog-grid {
        grid-template-columns: 1fr;
    }
}