/* === Reset margin and padding === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* === Remove default list styles === */

ul {
    list-style-type: none;
}


/* === Remove default link styles === */

a {
    text-decoration: none;
    color: inherit;
}


/* === Remove default element styles === */

button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* === Set default image styles === */
img {
    max-width: 100%;
    height: auto;
    display: block;
}